.home-page{
    background-color: #05595B;
    padding: 3rem;
  }
  
  .home-container {
    background-color: white;
    min-height: 85vh;
    border-radius: 25px;
    /* box-shadow: 10px 10px 5px #213974; */
    padding: 2rem 4rem;
  }