body{
  background-color: #05595B;
}

.home-container {
  background-color: white;
  margin: 3rem;
  min-height: 85vh;
  border-radius: 25px;
  /* box-shadow: 10px 10px 5px #213974; */
  padding: 2rem 4rem;
}

.home-nav {
    margin-bottom: 1.5rem;
}

.home-nav .row .col-4 h4 {
  color: #05595B;
}

.home-nav .row .col-8 a {
  float: right !important;
  text-decoration: none;
  color: 05595B !important;
}

.home-body button a{
    color: white;
    text-decoration: none;
}

.home-body h5{
  color: #05595B;
}

.classes-container .row .col-3{
    max-width: 10rem;
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05595B ;
    color: white;
    border-radius: 10px;
    margin: 1rem .6rem;
}


.classes-container .row .col p{
  color: white;
}

.classes-container a{
color: white;
text-decoration: none;
}
  